@import "./_variables.scss";

.Category {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  .left {
    display: flex;
    align-items: flex-start;
    width: 30%;
    padding: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    .active-article {
      background: #fff;
      border-radius: 4px;
      border: 2px solid #eee;

      .top {
        border-bottom: 2px solid #eee;
        h2 {
          color: $text-black;
          font-size: 112.5%;
          margin-bottom: 20px;
        }
        img {
          display: block;
          width: 30%;
          margin: 0 auto 20px;
        }
        p.updated {
          color: $text-gray;
          font-size: 87.5%;
        }
      }
      .top,
      .bottom {
        display: flex;
        position: relative;
        padding: 20px;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  .right {
    width: 60%;
    padding: 10px;
    .list-of-articles {
      li {
        display: flex;
        position: relative;
        padding: 20px 10px;
        background: #fff;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 2px solid #eee;
        cursor: pointer;
        &:last-child {
          margin-bottom: 10px;
        }
        .file-type {
          display: flex;
          width: 50px;
          align-items: center;
          justify-content: center;
          i {
            color: $green;
          }
        }
        .details {
          width: calc(100% - 50px);
          h3 {
            color: $text-black;
            font-size: 106.3%;
            margin-bottom: 10px;
          }
          p.updated {
            color: $text-gray;
            font-size: 87.5%;
          }
        }
        &:after {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          font-family: "Font Awesome 5 Free";
          font-style: normal;
          font-weight: 900;
          font-size: 100%;
          color: $green;
          content: "\f054";
        }
      }
    }
  }
  .bottom {
    display: flex;
    width: 100%;
  }
}
